# API Keys
ANTHROPIC_API_KEY=your_anthropic_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
LLM_PROVIDER = "ollama-local" # "ollama-local", "anthropic" or "google"
OLLAMA_MODEL = "qwen3:1.7b"
ANTHROPIC_MODEL = "claude-haiku-4-5-20251001"
GOOGLE_MODEL = "gemini-2.0-flash"
# LLM Configuration (modifica direttamente in absalom.py o usa queste se preferisci implementare più logica)
# LLM_PROVIDER=anthropic
# OLLAMA_MODEL=llama3.2
# ANTHROPIC_MODEL=claude-haiku-4-5-20251001
